<a id="home" href="/"><img src="/images/home1.png" alt="Home" height="80pt"><br>Home</a>

<h1>Information on <%= @animals.name %></h1>
<div class="grid">
  <div class="grid-row">
    <div class="cell">
      <figure>
        <img src="/images/<%= @animals.image %>" alt="Image of <%= @animals.name %>" style="height: 200px;">
        <figcaption></figcaption>
        <ul>
          <li> <strong>Name:</strong> <%= @animals.name %> </li>
          <li> <strong>Admission Date:</strong> <%= @animals.admission %> </li>
          <li> <strong>Status: </strong><%= @animals.is_adoptable %></li>
          <li> <strong>Species:</strong> <%= @animals.species %></li>
          <li> <strong>Breed:</strong> <%= @animals.breed %></li>
          <li> <strong>Gender:</strong> <%= @animals.gender %></li>
          <li> <strong>Notes:</strong> <%= @animals.description %></li>
        </ul>
        <a href="/animals/update/<%= @animals.id %> ">Update Animal Details</a>
      </figure>
    </div>
  </div>
</div>



<!-- <a href="/animals/show">Back to All Animals</a> -->
