<h1>All Animals</h1>

<div id="animals" class="grid">
<div class="grid-row">
  <div class="">

  </div>
<% @animals.each do |animal| %>
<figure>
  <img src="/images/<%= animal.image %>" alt="Image of <%= animal.name %>" style="height: 200px;">
  <figcaption><%= animal.name %></figcaption>
  <ul>
    <li> Name: <%= animal.name %> </li>
    <li> Admission Date: <%= animal.admission %> </li>
    <li> Status: <%= animal.adoptable %></li>
    <li> <a href="/animals/<%= animal.id %> ">Show Animal Details</a></li>
  </ul>
</figure>
  <% end %>
</div>
</div>



<!-- <div class="grid">
  <div class="grid-row">
    <div class="cell">

      <% @animals.each do |animal| %>
      <p> Name: <%= animal.name %> </p>
      <p> Admission Date: <%= animal.admission %> </p>
      <p> <a href="/animal/<%= animal.id() %> ">Show Animal Details</a> </p>
    </div>

    <div class="cell">
      <img src="/images/<%= animal.image %>" alt="Image of <%= animal.name %>" height="45">
    </div>
  </div>
  <hr />
  <% end %> -->
