<a id="home" href="/"><img src="/images/home1.png" alt="Home" height="80pt"><br>Home</a>

<h1>Owner Information</h1>

<figure>
  <ul>
    <li> <strong>First Name:</strong> <%= @owner.first_name %> </li>
    <li> <strong>Last Name:</strong> <%= @owner.last_name %> </li>
    <br>
    <li> <strong>ID:</strong> <%= @owner.id %></li>
    <li> <strong>Contact Details:</strong> <%= @owner.contact_info %></li>
  </ul>
</figure>

<a href="/owners/update/<%= @owner.id %> ">Update Owner Details</a>
